# **Alapok**

In [ ]:
a=5
b=7
print(a+b)

12

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("First line \nSecond line")
print("First \tSecond")

First line
Second line
First 	Second

In [ ]:
print("What is your name?")
name=input()
print("Hello " + name)
#this is a comment

What is your name?
Alexandra
Hello Alexandra

# **Fő adattípusok, amelyeket használni fogunk:**

Numerikus adatokat esetén a lehetőségek:


*   integer - egész számok (pl.: 1, 20, 300)
*   float - lebegőpontos számok (pl.: 3.14, 2.22e-3)
*   complex (pl.: 1j, 3+2j)

In [ ]:
a=1
print(type(a))  #integer
b=3.14
print(type(b))  #float
c=1j
print(type(c))  #complex

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
print(5+3)
print(10-6)
print(4/2)  #2.0
print(5%2)  #1
print(2**4)
print(17//10)

8
4
2.0
1
16
1

Szöveg tárolása (alfanumerikus adat):



*   string - karakterlánc (pl.: "Hello World!")

In [ ]:
str1="mathematics"
str2="G2"
print(str1[2])
print(str1[2:5])
print(str1[-5:-2])
print(str1+str2)
print(len(str1))

t
the
ati
mathematicsG2
11

In [ ]:
number=2
sentence="This is our {}. class."
print(sentence.format(number))

This is our 2. class.

Szekvenciális tárolás:



*   list - lista (pl.: grades = [1, 2, 3, 4, 5])
*   tuple - lényegében egy megváltoztathatatlan lista (pl.: grades = (1, 2, 3, 4, 5) )

In [ ]:
grades=[1,2,3,4,5]
print(grades[4])
print(grades[0:2])
print(len(grades))
grades.append(6)
print(grades[:])
del grades[5]
print(grades)

grades2=(5,4,3,2,1)
#grades2.append(6)    
print(grades2[:4])

5
[1, 2]
5
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
(5, 4, 3, 2)

Logikai (boolean) típus:

*  két értéke lehet: True vagy False (fontos a nagy kezdőbetű!)
*  ha egy érték nulla, akkor az false, ha nem nulla, akkor true

In [ ]:
a=True
print(a)
b=10<4
print(b)

True
False

In [ ]:
print(False or True)  #True
print(False and True) #False

True
False

Előfordulhat, hogy szeretnénk konvertálni az egyik típusból a másik típusba. 

Erre is van lehetőség, a következőképpen:

In [ ]:
a=int(3.14) #3
print(a)
b=float(22) #22.0
print(b)
c=str(2)
print(c)
print(type(c))

3
22.0
2
<class 'str'>

# **Feltételes utasítás**

In [ ]:
age=7
if(age<18):
  print("He/she is a child.")
else:
  print("He/she is an adult.")

age=30
if(age<2):
  print("He/she is a baby.")
elif (age<18):
  print("He/she is a child.")
else:
  print("He/she is an adult.")

He/she is a child.
He/she is an adult.

In [ ]:
my_grade=5
if(my_grade==5):
  print("Nice job!")

if(my_grade!=1):
  print("Nice job!")

Nice job!
Nice job!

# **Ciklusok (loops)**

In [ ]:
print("Bme")
print("Bme")
print("Bme")
print("Bme")

Bme
Bme
Bme
Bme

In [ ]:
for i in range(4):
  print("Bme")

Bme
Bme
Bme
Bme

## For ciklus

In [ ]:
array=[2,4,1,5,7,2]
sum=0
for i in array:
  sum+=i            #sum=sum+array[i]

print(sum)

21

In [ ]:
for i in range(21):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## While ciklus

In [ ]:
count=1
while count<21:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
number=10
while number>11:
  print("Inside the while loop, condition is true")
else:
  print("Condition is false")

Condition is false

In [ ]:
count=1
while count<21:
  print(count)
  if count==5:
    break
  count+=1

1
2
3
4
5

# **Függvények**

In [ ]:
def sum1(a,b):
  return a+b

sum1(1,2)

3

In [ ]:
def bme():
  print("BME")

bme()

BME

In [ ]:
def my_age(age="21"):
  print("I am " + age + " years old.")

my_age("23")
my_age()

I am 23 years old.
I am 21 years old.

# **Feladat**

In [ ]:
def num_digit(x):
  #153//10->15,3->15
  #15//10->1,5->1
  #1//10->0,1->0
  n=0
  while(x!=0):
    x//=10
    n+=1
  return n

def Armstrong_num(x):
  n=num_digit(x)
  sum=0
  #153%10->3
  #153//10->15
  #15%10->5
  #15//10->1
  #1%10->1
  #1//10->0
  temp=x
  while(temp!=0):
    remainder=temp%10
    sum=sum+remainder**n
    temp//=10
  return(sum==x)

x=153
print(Armstrong_num(x))

True

# **Házi feladat +1 pontért (mind az ötöt meg kell oldani)**

(1) Írasd ki a páros számokat 20-tól 46-ig! 

(2) Írasd ki a prímszámokat 30-ig!

(3) Kérjünk be egy számot a felhasználótól és írassuk ki, hogy ez pozitív vagy negatív-e! (típuskonverzió szükséges lehet)

(4) Írjatok egy függvényt, amely kiszámolja egy tömb elemeinek átlagát!

(5) Írassatok ki egy általatok megadott tömböt annyiszor, amennyi eleme van!